
@{
    ViewData["Title"] = "Index";
}

<h1 class="my-4 text-center" style=" margin-top:40px; margin-bottom:40px;">Room Schedule : </h1>

@*TIM ZET JOUW AGENDA HIER IN*@ 

<div class="opacityWhitebgr" style="padding:50px; border-radius:10px;">


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading themeBGColor cwhite" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Overview Reservation Room :
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" style="padding:20px;" role="tabpanel" aria-labelledby="headingOne">
                <div class="row">
                    <div class="col-sm-3">
                        <ul>test</ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>test</ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>test</ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>test</ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <ul>test</ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>test</ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>test</ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>test</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
