
@{ ViewData["Title"] = "Edit"; }

<form class="form-signin opacityWhitebg">
  <label for="inputEmail" class="sr-only">Name</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Name" required autofocus><br>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus><br>
  <label for="inputEmail" class="sr-only">Password</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Password" required autofocus><br>
  <label for="inputPassword" class="sr-only">Repeat Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Repeat Password" required>

  <button class="btn btn-lg btn-info btn-block themeBGColor" type="submit">Edit</button>

  <!-- <div class="row mt-2" >
      <a class="btn btn-xs btn-outline-secondary col-md-6" href="admin/group" role="button">Admin</a>
      <a class="btn btn-xs btn-outline-dark  col-md-6" href="group" role="button">User</a>
  </div> -->
</form>


<p>hier komt groups list instituten</p>