
@{ ViewData["Title"] = "Signed Groups"; }

<h1 class="my-4 text-center" style=" margin-top:40px; margin-bottom:40px;">Groups</h1>
<div class="opacityWhitebgr" style="padding:50px; border-radius:10px;">



  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading themeBGColor cwhite" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Signed Groups
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" style="padding:20px;" role="tabpanel" aria-labelledby="headingOne">
        <div class="row">

          @for (int i = 0; i
         < (int)ViewData["NumTimes"]; i++)
          {<div class="col-sm-4">
              <div class="thumbnail ">
                <a class="card-link" href="groups/rooms">
                  <img class="card-img-top" src="https://dummyimage.com/180x100/000/17a2b8 " alt="Card image cap" style="height: 200px; width: 100%; display: block;">
                </a>
                <div class="caption">
                  <a class="card-link" href="groups/rooms">
                    <h3 class="card-title text-center">HR Capelle</h3>
                  </a>
                  <button type="submit" class="btn btn-primary center-block">View Schedule</button>
                </div>
              </div>

            </div>
          }
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading themeBGColor cwhite" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Info: Elvin Carvalho
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <form class="">
            <div class="row">
              <div class=" col-sm-6">
                <label class="sr-only" for="inlineFormInput">Username</label>
                <input type="text" class="form-control col-sm-6" id="inlineFormInput" placeholder="Username">

              </div>
              <div class=" col-sm-6">
                <label class="sr-only" for="inlineFormInput">Email</label>
                <input type="text" class="form-control col-sm-6" id="inlineFormInput" placeholder="Email">

              </div>

            </div><br>
            <div class="row">

              <div class=" col-sm-6">
                <label class="sr-only" for="inlineFormInput">Password</label>
                <input type="password" class="form-control col-sm-6" id="inlineFormInput" placeholder="Password">

              </div>
              <div class=" col-sm-6">
                <label class="sr-only" for="inlineFormInput">Repeat Password</label>
                <input type="password" class="form-control col-sm-6" id="inlineFormInput" placeholder="Repeat Password">

              </div>
            </div><br>


            <button type="submit" class="btn btn-primary themeBGColor cwhite">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>