@model IEnumerable<Reserveer.Models.User>

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<h2>hoi</h2>

<td>
    welcome sons a bitchess
</td>
    @if (Model == null)
    {
        <span>
            no items
        </span>
    }else{
    foreach (var item in Model)
        {
            <tr>
                @item.user_name
            </tr>
        }
    }